ikasaneip/dashboard/war/src/main/webapp/org/ikasan/dashboard/flowConfiguration.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:include schemaLocation="componentConfiguration.xsd"/>

  <xs:element name="flowConfiguration">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="module" maxOccurs="1" minOccurs="0"/>
        <xs:element ref="name" maxOccurs="1" minOccurs="1"/>
        <xs:element ref="componentConfigurations" maxOccurs="1" minOccurs="1"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="componentConfigurations">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="componentConfiguration" maxOccurs="unbounded" minOccurs="0"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="module" type="xs:string"/>

</xs:schema>