ikasaneip/component/endpoint/filetransfer/common/src/main/resources/payload_1_0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- 


 $Id$
 $URL$
 
 =============================================================================
 Ikasan Enterprise Integration Platform
 
 Distributed under the Modified BSD License.
 Copyright notice: The copyright for this software and a full listing 
 of individual contributors are as shown in the packaged copyright.txt 
 file. 
 
 All rights reserved.

 Redistribution and use in source and binary forms, with or without 
 modification, are permitted provided that the following conditions are met:

  - Redistributions of source code must retain the above copyright notice, 
    this list of conditions and the following disclaimer.

  - Redistributions in binary form must reproduce the above copyright notice, 
    this list of conditions and the following disclaimer in the documentation 
    and/or other materials provided with the distribution.

  - Neither the name of the ORGANIZATION nor the names of its contributors may
    be used to endorse or promote products derived from this software without 
    specific prior written permission.

 THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS" 
 AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE 
 IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE ARE 
 DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS BE LIABLE 
 FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL 
 DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
 SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
 CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY,
 OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE 
 USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE.
 =============================================================================

 Purpose: This file defines the required configuration for the common package.

 Author:  Ikasan Development Team
 
-->
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <xsd:annotation>
    <xsd:documentation xml:lang="en">Schema defining the Common Payload XML data type.</xsd:documentation>
  </xsd:annotation>

  <!-- ========================== -->
  <!-- MAIN part                  -->
  <!-- ========================== -->
  <xsd:element name="payload" type="Payload">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Payload represent a business data artefact.</xsd:documentation>
    </xsd:annotation>
  </xsd:element>

  <xsd:complexType name="Payload">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">ID - Payload life ID generated by java.util.UUID.randomUUID().toString().</xsd:documentation>
      <xsd:documentation xml:lang="en">TIMESTAMP_FORMATTED - Creation date and time with presentation format applied.</xsd:documentation>
      <xsd:documentation xml:lang="en">TIMESTAMP_FORMAT - Creation date and time presentation format.</xsd:documentation>
      <xsd:documentation xml:lang="en">TIMESTAMP - Payload creation date and time in seconds from Java base date.</xsd:documentation>
      <xsd:documentation xml:lang="en">TIMEZONE - Timezone used to create date and time.</xsd:documentation>
      <xsd:documentation xml:lang="en">PRIORITY - Payload priority used by subscribers.</xsd:documentation>
      <xsd:documentation xml:lang="en">NAME - Event name, for example, 'cmfTrade', 'GI_CPTY_EXPOSURE_20061114.csv.jar'.</xsd:documentation>
      <xsd:documentation xml:lang="en">SPEC - Event type, for example, 'text/xml', 'text/csv', 'text/plain', 'byte'.</xsd:documentation>
      <xsd:documentation xml:lang="en">FORMAT - Payload format type, for example, 'xml', 'csv'.</xsd:documentation>
      <xsd:documentation xml:lang="en">ENCODING - Encoding type, for example, 'noenc', 'base64', 'hex'.</xsd:documentation>
      <xsd:documentation xml:lang="en">CHARSET - Character set, for example, 'ISO-8859-1', 'windows-1252'.</xsd:documentation>
      <xsd:documentation xml:lang="en">SIZE - Payload size in long.</xsd:documentation>
      <xsd:documentation xml:lang="en">CHECKSUM - Checksum calc'd on the content.</xsd:documentation>
      <xsd:documentation xml:lang="en">CHECKSUM_ALG - Checksum algorithm.</xsd:documentation>
      <xsd:documentation xml:lang="en">PROCESS_IDS - Payload business process identifiers.</xsd:documentation>
      <xsd:documentation xml:lang="en">SRC_SYSTEM - Payload originating system name.</xsd:documentation>
      <xsd:documentation xml:lang="en">TARGET_SYSTEMS - Payload destination systems.</xsd:documentation>
      <xsd:documentation xml:lang="en">RESUBMISSION_INFO - Payload is a resubmission of a previously failed attempt. Resubmission info provides details of the flow within which this payload should re-enter.</xsd:documentation>
    </xsd:annotation>

    <xsd:simpleContent>
      <xsd:extension base="xsd:string">
        <xsd:attribute name="ID"                  use="required" type="NonEmptyString"/>
        <xsd:attribute name="TIMESTAMP_FORMATTED" use="required" type="NonEmptyString"/>
        <xsd:attribute name="TIMESTAMP_FORMAT"    use="required" type="NonEmptyString"/>
        <xsd:attribute name="TIMESTAMP"           use="required" type="xsd:long"/>
        <xsd:attribute name="TIMEZONE"            use="required" type="NonEmptyString"/>
        <xsd:attribute name="PRIORITY"            use="required" type="xsd:integer"/>
        <xsd:attribute name="NAME"                use="required" type="NonEmptyString"/>
        <xsd:attribute name="SPEC"                use="required" type="PayloadSpec"/>
        <xsd:attribute name="FORMAT"              use="optional" type="PayloadFormat"/>
        <xsd:attribute name="ENCODING"            use="required" type="PayloadEncoding"/>
        <xsd:attribute name="CHARSET"             use="optional" type="PayloadCharset"/>
        <xsd:attribute name="SIZE"                use="optional" type="xsd:long"/>
        <xsd:attribute name="CHECKSUM"            use="optional" type="NonEmptyString"/>
        <xsd:attribute name="CHECKSUM_ALG"        use="optional" type="NonEmptyString"/>
        <xsd:attribute name="PROCESS_IDS"         use="optional" type="NonEmptyString"/>
        <xsd:attribute name="SRC_SYSTEM"          use="required" type="NonEmptyString"/>
        <xsd:attribute name="TARGET_SYSTEMS"      use="optional" type="NonEmptyString"/>
        <xsd:attribute name="RESUBMISSION_INFO"   use="optional" type="NonEmptyString"/>
      </xsd:extension>
    </xsd:simpleContent>
  </xsd:complexType>

  <xsd:simpleType name="NonEmptyString">
    <xsd:restriction base="xsd:string">
      <xsd:minLength value="1"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PayloadSpec">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies payload content type.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="text/xml"/>
      <xsd:enumeration value="text/html"/>
      <xsd:enumeration value="text/csv"/>
      <xsd:enumeration value="text/plain"/>
      <xsd:enumeration value="byte/jar"/>
      <xsd:enumeration value="byte/zip"/>
      <xsd:enumeration value="byte/plain"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PayloadFormat">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies payload format type.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="xml"/>
      <xsd:enumeration value="csv"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PayloadEncoding">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">Specifies what encoding is used to encode payload.</xsd:documentation>
    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="noenc"/>
      <xsd:enumeration value="base64"/>
      <xsd:enumeration value="hex"/>
    </xsd:restriction>
  </xsd:simpleType>

  <xsd:simpleType name="PayloadCharset">
    <xsd:annotation>
      <xsd:documentation xml:lang="en">US-ASCII - US ASCII / ISO 646 IRV</xsd:documentation>
      <xsd:documentation xml:lang="en">ISO-8859-1 - ISO 8859-2 Latin Alphabet 1</xsd:documentation>
      <xsd:documentation xml:lang="en">ISO-8859-2 - ISO 8859-2 Latin Alphabet 2</xsd:documentation>
      <xsd:documentation xml:lang="en">ISO-8859-3 - ISO 8859-3 Latin Alphabet 3</xsd:documentation>
      <xsd:documentation xml:lang="en">ISO-8859-4 - ISO 8859-4 Latin Alphabet 4 </xsd:documentation>
      <xsd:documentation xml:lang="en">ISO-8859-5 - ISO 8859-5 Latin/Cyrillic Alphabet</xsd:documentation>
      <xsd:documentation xml:lang="en">ISO-8859-6 - ISO 8859-6 Latin/Arabic Alphabet</xsd:documentation>
      <xsd:documentation xml:lang="en">ISO-8859-7 - ISO 8859-7 Latin/Greek Alphabet</xsd:documentation>
      <xsd:documentation xml:lang="en">ISO-8859-8 - ISO 8859-8 Latin/Hebrew Alphabet</xsd:documentation>
      <xsd:documentation xml:lang="en">ISO-8859-15 - ISO 8859-15 Latin Alphabet 9</xsd:documentation>
      <xsd:documentation xml:lang="en">DEC-MCS - DEC Multinational (MCS)</xsd:documentation>
      <xsd:documentation xml:lang="en">IBM437 - PC Code Page 437</xsd:documentation>
      <xsd:documentation xml:lang="en">IBM850 - PC Code Page 850</xsd:documentation>
      <xsd:documentation xml:lang="en">IBM852 - PC Code Page 852</xsd:documentation>
      <xsd:documentation xml:lang="en">IBM861 - PC Code Page 861</xsd:documentation>
      <xsd:documentation xml:lang="en">IBM862 - PC Code Page 862</xsd:documentation>
      <xsd:documentation xml:lang="en">IBM866 - PC Code Page 866</xsd:documentation>
      <xsd:documentation xml:lang="en">windows-1250 - Microsoft Windows Code Page 1250</xsd:documentation>
      <xsd:documentation xml:lang="en">windows-1251 - Microsoft Windows Code Page 1251</xsd:documentation>
      <xsd:documentation xml:lang="en">windows-1252 - Microsoft Windows Code Page 1252</xsd:documentation>
      <xsd:documentation xml:lang="en">windows-1254 - Microsoft Windows Code Page 1254</xsd:documentation>
      <xsd:documentation xml:lang="en">UTF-8 - Unicode UTF-8</xsd:documentation>

    </xsd:annotation>
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="US-ASCII"/>
      <xsd:enumeration value="ISO-8859-1"/>
      <xsd:enumeration value="ISO-8859-2"/>
      <xsd:enumeration value="ISO-8859-3"/>
      <xsd:enumeration value="ISO-8859-4"/>
      <xsd:enumeration value="ISO-8859-5"/>
      <xsd:enumeration value="ISO-8859-6"/>
      <xsd:enumeration value="ISO-8859-7"/>
      <xsd:enumeration value="ISO-8859-8"/>
      <xsd:enumeration value="ISO-8859-15"/>
      <xsd:enumeration value="DEC-MCS"/>
      <xsd:enumeration value="IBM437"/>
      <xsd:enumeration value="IBM850"/>
      <xsd:enumeration value="IBM852"/>
      <xsd:enumeration value="IBM861 "/>
      <xsd:enumeration value="IBM862"/>
      <xsd:enumeration value="IBM866"/>
      <xsd:enumeration value="windows-1250"/>
      <xsd:enumeration value="windows-1251"/>
      <xsd:enumeration value="windows-1252"/>
      <xsd:enumeration value="windows-1254"/>
      <xsd:enumeration value="UTF-8"/>
    </xsd:restriction>
  </xsd:simpleType>

</xsd:schema>
