ikasaneip/component/converter/src/test/resources/example.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="example">
	<xs:complexType>
		<xs:sequence>
			<xs:element name="string" type="xs:string"/>
			<xs:element name="two" type="xs:string"/>
		</xs:sequence>
	</xs:complexType>
	</xs:element>
</xs:schema>


