ikasaneip/component/validator/src/test/resources/xsd/book2.xsd

<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
            targetNamespace="urn:books"
            xmlns:bks2="urn:books">

    <xsd:complexType name="TestBook">
        <xsd:sequence>
            <xsd:element name="author"   type="xsd:string"/>
        </xsd:sequence>
        <xsd:attribute name="id"   type="xsd:string"/>
    </xsd:complexType>
</xsd:schema>